<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <title>soccer player</title>
</head>

<body>
    <div class="bg"></div>
    <div class="wrap">
        <div id="header">
            <h1>
                <a href="/">
                    6조 Online
                </a>
            </h1>
        </div>
        <div class="contents">
            <!-- login -->
            <form class="login-area" action="/api/login" method="POST">
                <h2>Login</h2>
                <p>ID <input type="text" id="userID" placeholder="아이디를 입력하세요" name="userID"></p>
                <p>PW <input type="password" id="userPW" placeholder="비밀번호를 입력하세요" name="userPW"></p>
                <div class="btn-box">
                    <button type="button" id="login" value="LOGIN" onclick = "loginClick()">로그인</button>
                    <a href="/sign-up/index">회원가입</a>
                </div>
            </form>
            <!-- join
            <form class="login-area">
                <h2>Join</h2>
                <p>ID <input type="text" id="userID" placeholder="아이디를 입력하세요"></p>
                <p class="alert">중복되는 아이디 입니다. 다른 아이디를 입력하세요.</p> 
                <p>PW <input type="password" id="userPW" placeholder="비밀번호를 입력하세요"></p>
                <div class="radioBox">
                    <div><input type="radio" id="user" name="role" value="user"><label for="user">사용자</label></div>
                    <div><input type="radio" id="admin" name="role" value="admin"><label for="admin">관리자</label></div>
                </div>
                <a type="button" id="join" href="/sign-up/index">회원가입 하기</ㅁ>
            </div> -->
        </div>
    </div>



    <script>
        
        let userID = document.getElementById('userID')
        let userPW = document.getElementById('userPW')
        
        function loginClick(){
            if(userID.value === '' || userPW.value === '') {
                alert('ID와 PW 모두 입력하셔야 합니다!');
            }else{
                $.ajax({
                type: "POST",
                url: "/api/login",
                data: {
                    userID : userID.value,
                    userPW : userPW.value,
                },
                success: function(response){
                    let access_token = response['token']
                    // ❗️로그인 성공 시❗️
                        if(response['result'] == 'success') { 
                            $.cookie('mytoken', response['token'], {path: '/'});
                            window.location.replace("/")
                        }
                        // ❗️로그인 실패 시❗️ 
                        else { 
                            alert("id or pw가 틀렸습니다.")
                        }
                }
                })
            }
            
        }   
    </script>
</body>

</html>