<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="../static/js/common.js"></script>
    <title>soccer player</title>
</head>

<body>
    <div class="bg"></div>
    <div class="wrap">
        <div id="header">
            <h1>
                <a href="/">
                    6조 Online
                </a>
            </h1>
        </div>
        <div class="contents">
            <!-- login -->
            <form class="login-area" action="/api/login" method="POST">
                <h2>Login</h2>
                <p>ID <input type="text" id="userID" placeholder="아이디를 입력하세요" name="userID"></p>
                <p>PW <input type="password" id="userPW" placeholder="비밀번호를 입력하세요" name="userPW"></p>
                <div class="btn-box">
                    <input type="submit" id="login" value="LOGIN">
                    <button id="join">
                        <a href="/sign-up/index">회원가입</a>
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>